.mask3{
    width: 100%;
    height: 60vh;
    position: relative;
}
.herocontact-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask3::after {
    content:"";
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
}

.herocontact{
    height:60vh;
    width: 100%;
}

.herocontact .content3{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
    text-align: center;
}

.herocontact .content3 h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}

.herocontact .content3 p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}

@media screen and (max-width:640px) {
    .herocontact .content3 .h1{
        font-size: 3rem;
      
    }

    .herocontact .content3 .p{
        font-size: 1.4rem;
      
    }
    
}
